---
import Base from "../layouts/Base.astro";
---

<Base title="home">
	<section class="py-[40px]">
		<div class="w-5/6 mx-[auto]">
			<h2 class="text-[#080911] font-[900] pb-[30px] text-[28px]">Welcome To AStro Blog</h2>
			<figure class="w-[100%]">
				<img class="w-[100%] rounded-lg"
					src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTKpg1FHbM3w7uVEWGU52kCtxO1lbhE9Yu8aQ&usqp=CAU"
					alt="Blog Image"
				/>
			</figure>
			<div class="content">
				<h3 class="text-[#080911] font-[700] py-[15px] text-[25px]">Our Special Blog</h3>
				<p class="text-[#1c1c1c]  leading-8 tracking-wide pr-[3%] text-[20px]">
					Lorem ipsum dolor sit amet consectetur, adipisicing elit.
					Dolores numquam totam itaque aspernatur exercitationem
					temporibus consequuntur est amet beatae facere ducimus,
					tempora dolorum ipsa eligendi distinctio. Neque vel fugit
					iusto minima corporis nam itaque numquam rerum a
					reprehenderit accusamus provident amet, libero alias enim,
					et dolor corrupti. Incidunt numquam dignissimos, error est
					consequatur odio illo necessitatibus! Deserunt minima rerum
					eum?
				</p>
			</div>
		</div>
	</section>
</Base>
