---
---

<section class="py-[40px]">
    <div class="w-5/6 mx-[auto]">
        <figure class="w-[100%]">
            <img class="w-[100%] rounded-lg"
                src="https://svmsolutions.b-cdn.net/wp-content/uploads/2020/01/converting-about-us-page.jpg"
                alt="About Image"
            />
        </figure>
        <div class="content">
            <h2 class="text-[#080911] font-[900] py-[30px] text-[28px]">Welcome in our Blog Page</h2>
            <p class="text-[#1c1c1c]  leading-8 tracking-wide pr-[3%] text-[20px] pb-[15px]">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Voluptatibus saepe asperiores itaque quos quis minima
                exercitationem explicabo omnis est unde id, ad animi minus
                temporibus praesentium consequuntur adipisci laborum mollitia
                neque eos at dolores? Aspernatur non illum aliquid, pariatur
                libero omnis optio quisquam aperiam cupiditate iste vero facere
                voluptatum eum!
            </p>
            <p class="text-[#1c1c1c]  leading-8 tracking-wide pr-[3%] text-[20px] pb-[15px]">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Voluptatibus saepe asperiores itaque quos quis minima
                exercitationem explicabo omnis est unde id, ad animi minus
                temporibus praesentium consequuntur adipisci laborum mollitia
                neque eos at dolores? Aspernatur non illum aliquid, pariatur
                libero omnis optio quisquam aperiam cupiditate iste vero facere
                voluptatum eum!
            </p>
            <p class="text-[#1c1c1c]  leading-8 tracking-wide pr-[3%] text-[20px] pb-[15px]">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Voluptatibus saepe asperiores itaque quos quis minima
                exercitationem explicabo omnis est unde id, ad animi minus
                temporibus praesentium consequuntur adipisci laborum mollitia
                neque eos at dolores? Aspernatur non illum aliquid, pariatur
                libero omnis optio quisquam aperiam cupiditate iste vero facere
                voluptatum eum!
            </p>
        </div>
    </div>
</section>
