---

---

<footer>
    <p class="copy">Copyright &copy; <span class="copy-right">year</span> | All Rights Reserved</p>
</footer>

<script>
    const copy = document.querySelector(".copy-right");
    copy.textContent = new Date().getFullYear().toString();
</script>