---

---

<footer class="bg-[#0A1535] text-[#B6B6B6] py-[8px]">
    <p class="text-center">Copyright &copy; <span class="copy-right">year</span> | All Rights Reserved</p>
</footer>

<script>
    const copy = document.querySelector(".copy-right");
    copy.textContent = new Date().getFullYear().toString();
</script>