---
import navData from "../data/NavData.js";
interface props {
    title: string;
}
const { title } = Astro.props;
---

<header class="flex bg-zinc-700 text-white justify-between">
    <h1 class="basis-[20%]">
        <a href="/" title={title} class="logo">Astro Blog</a>
    </h1>
    <nav class="basis-[40%]">
        <ul class=" flex flex-auto">
            {
                navData.map((element) => (
                    <li class="nav-item">
                        <a href={element.path}>{element.name}</a>
                    </li>
                ))
            }
        </ul>
    </nav>
</header>
